extends layout.pug

block content
  h1= title
  if errors 
    ul 
      p The following errors were found:
      each error in errors 
        li= error
  form(action='/create' method='post')
    input(type='hidden' name='_csrf' value=csrfToken)
    label First Name
    input(type='text' name='firstName' placeholder=firstName)
    label Last Name
    input(type='text' name='lastName' placeholder=lastName)
    label Email
    input(type='text' name='email' placeholder=email)
    label Password
    input(type='text' name='password')
    label Confirm Password
    input(type='text' name='confirmedPassword')
    button(type='submit') Submit

