extends layout.pug

mixin option(value, text)
  option(value=value selected=(value === favoriteBeatle)) #{text}

block content
  h1= title
  if errors
    p The following errors were found:
    ul
      each error in errors
        li= error
  form.form-group(action=`/create-interesting` method='post')
    input(type='hidden' name='_csrf' value=csrfToken)
    label First Name
    input.form-control(type='text' name='firstName' value=firstName)
    label Last Name
    input.form-control(type='text' name='lastName' value=lastName)
    label Email
    input.form-control(type='email' name='email' value=email)
    Label Favorite Beatle
    select.form-control(name='favoriteBeatle' value=favoriteBeatle)
      option(value='' selected=(''===favoriteBeatle)) --Please choose an option--
      option(value='John' selected=('John'===favoriteBeatle)) John
      option(value='Paul' selected=('Paul'===favoriteBeatle)) Paul
      option(value='George' selected=('George'===favoriteBeatle)) George
      option(value='Ringo' selected=('Ringo'===favoriteBeatle)) Ringo
      option(value='Scooby-Doo' selected=('Scooby-Doo'===favoriteBeatle)) Scooby-Doo
    label Age
    input.form-control(type='number' name='age' value=age)
    label(for='defaultCheck1') Likes Ice Cream
    input.form-control(type='checkbox' checked=(iceCream === 'on') name="iceCream")
    label Password
    input.form-control(type='password' name='password')
    label Confirm Password
    input.form-control(type='password' name='confirmedPassword')
    input.btn.btn-primary(type='submit' value="Create Interesting User")