extends layout.pug

block content
  h1= title
  if errors
    p The following errors were found:
    ul
      each error in errors
        li= error
  form.form-group(action='/create' method='post')
    input(type='hidden' name='_csrf' value=csrfToken)
    label First Name
    input.form-control(type='text' name='firstName' value=firstName)
    label Last Name
    input.form-control(type='text' name='lastName' value=lastName)
    label Email
    input.form-control(type='email' name='email' value=email)
    label Password
    input.form-control(type='password' name='password')
    label Confirm Password
    input.form-control(type='password' name='confirmedPassword')
    input.btn.btn-primary(type='submit' value= "Create User")

